<nav class="bg-primary d-none d-lg-block">
  <div class="container">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link hover-primary-light text-white h5 font-weight-normal pr-12 pl-0 mb-0" href="#">Pandora</a>
      </li>
      <li class="nav-item">
        <a class="nav-link hover-primary-light text-white h5 font-weight-normal pr-12 pl-0 mb-0" href="#">BaubleBar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link hover-primary-light text-white h5 font-weight-normal pr-12 pl-0 mb-0" href="#">Vita Fede</a>
      </li>
      <li class="nav-item">
        <a class="nav-link hover-primary-light text-white h5 font-weight-normal pr-12 pl-0 mb-0" href="#">Dogeared</a>
      </li>
      <li class="nav-item">
        <a class="nav-link hover-primary-light text-white h5 font-weight-normal pr-12 pl-0 mb-0" href="#">Kate Spade</a>
      </li>
      <li class="nav-item">
        <a class="nav-link hover-primary-light text-white h5 font-weight-normal pr-12 pl-0 mb-0" href="#">CAROLEE</a>
      </li>
    </ul>
  </div>
</nav>