<!-- 訂閱 -->
<section class="subscription d-flex align-items-end" data-aos="fade-up">
  <div class="container" data-aos="fade-up">
    <label class="text-secondary-dark h2 font-weight-bold mb-5" for="subscription">記得<br>訂閱以獲取更多資訊！</label>
    <div class="input-group flex-nowrap w-100">
      <input type="email" class="subscription__input rounded-left text-secondary pl-4" id="subscription"
        placeholder="Your email address" aria-label="subscription" aria-describedby="subscription">
      <div class="input-group-append">
        <button class="btn btn-primary text-white py-5 px-4" type="button" id="subscribe">Subscribe</button>
      </div>
    </div>
  </div>
</section>