/* 全站設定 */
img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    transition: all linear 200ms;

    &:hover {
        text-decoration: none;
    }
}

ul {
    list-style: none;
    padding: 0;
}

button,
input:focus {
    outline: none !important;
}