img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    transition: all linear 200ms;

    &:hover {
        text-decoration: none;
    }
}

ul {
    list-style: none;
    padding: 0;
}

input,
select,
textarea {
    -webkit-appearance: none; // Safari 和 Chrome，常用於 iOS 下移除內建樣式 
    -moz-appearance: none; // FireFox
    appearance: none;
    border-radius: 0;
}

button,
input:focus {
    outline: none !important;
}