.loading {

    &__block {

        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 0;
            height: 100%;
            box-shadow: 0 0 20px 20px rgba(255, 255, 255, 0.6);
            transform: skewX(45deg) translateX(100px);
            animation: reflective 2.5s .5s infinite;
        }

        &__img {
            animation: fade-up .8s;
            z-index: 999;
        }

        &__imgShadow {
            top: 0;
            left: 0;
            opacity: 0;
            z-index: -1;
            animation: fade-down .8s forwards;

            // 白色塊遮住 img
            &::after {
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background-color: white;
            }

            // img 倒影
            img {
                -webkit-box-reflect: below -0.8rem linear-gradient(transparent, #d4a572);
            }
        }
    }

    &--fadeOut {
        display: none !important;
        opacity: 0;
        transition: all .5s;
    }
}

@keyframes fade-up {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    60% {
        transform: translateY(-10px);
        opacity: 1;
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes fade-down {
    0% {
        transform: translateY(-10px);
    }

    20% {
        opacity: 0;
    }

    60% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes reflective {
    0% {
        transform: skewX(45deg) translateX(100px);
    }

    25% {
        transform: skewX(45deg) translateX(-400px);
    }

    50% {
        transform: skewX(45deg) translateX(-400px) translateY(200px);
    }

    75% {
        transform: skewX(45deg) translateX(0px) translateY(200px);
    }

    100% {
        transform: skewX(45deg) translateX(100px) translateY(0px);
    }
}