.loading {
    &--fadeOut {
        display: none !important;
        opacity: 0;
        transition: all .5s;
    }

    &__block {
        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 0;
            height: 100%;
            box-shadow: 0 0 20px 20px rgba(255, 255, 255, 0.6);
            transform: skewX(45deg) translateX(100px);
            animation: reflective 2.5s 1s infinite;
        }

        &__img {
            -webkit-box-reflect: below -0.8rem linear-gradient(transparent, #d4a572);
        }
    }
}

@keyframes reflective {
    0% {
        transform: skewX(45deg) translateX(100px);
    }

    25% {
        transform: skewX(45deg) translateX(-400px);
    }

    50% {
        transform: skewX(45deg) translateX(-400px) translateY(200px);
    }

    75% {
        transform: skewX(45deg) translateX(0px) translateY(200px);
    }

    100% {
        transform: skewX(45deg) translateX(100px) translateY(0px);
    }
}