.navbar-nav {
    .nav-link {
        &:hover {
            @include media-breakpoint-up(lg) {
                // opacity: .6;
                color: $secondary-dark !important;
                background: transparent !important;
            }
        }

        &:focus {
            background: transparent !important;
        }
    }
}