.logo {
    // border: 1px solid #000;
    width: 128px;
    background-image: url("../images/logo.svg");
    background-size: contain;
    overflow: hidden;
    text-indent: 101%;
    background-repeat: no-repeat;
    background-position: center;

    @include media-breakpoint-up(lg) {
        width: 150px;
    }
}

.navbar__cart__icon {
    position: absolute;
    top: 6px;
    right: 5px;
    padding: 2px 7px;
}