.logo {
    width: 128px;
    background-image: url("../images/d’Perfume@2x.png");
    background-size: contain;
    overflow: hidden;
    text-indent: 101%;
    background-repeat: no-repeat;
    background-position: center;
}

.navbar__cart__icon {
    position: absolute;
    top: 6px;
    right: 5px;
    padding: 2px 7px;
}