.subscription {
    @include bg-cover("../images/banner_footer.jpg", 600px);
    padding-bottom: 112px;

    @include media-breakpoint-up(lg) {
        background-attachment: fixed;
    }

    &__input {
        border: 2px solid $primary;
        flex-grow: 1;
        // 解決 safari input 出現圓角
        -webkit-appearance: none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;

        @include media-breakpoint-up(md) {
            flex-grow: 0;
            width: 219px;
        }
    }
}