.banner {
    @include bg-cover("../images/index1.jpg", 480px);

    @include lg {
        height: 870px;
    }
}

.intro {
    &__img {
        width: 100%;
        @include img-cover(350px);

        @include lg {
            height: 555px;
        }
    }

    &__list__img {
        @include img-cover(350px);
        @include md {
            height: auto;
        }
        @include lg {
            height: 1080px;
        }
    }
}

.introProduct {
    &__item__img {
        @include img-cover(350px);

        @include lg {
            height: 540px;
        }
    }

    &__item__img--bg {
        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: black;
            opacity: .3;
            z-index: 10;
        }

        &--text {
            position: absolute;
            top: 50%;
            left: auto;
            z-index: 11;
        }
    }

    &__item {
        transition: all ease 400ms;

        &:hover {
            transform: scale(0.9);
            transition: all ease 400ms;
        }

        &:hover>.product__flagship__img {
            box-shadow: 0 3px 5px rgba(102, 102, 102, 0.281);
            transition: all ease 200ms;
        }
    }
}

.subscription {
    @include bg-cover("../images/index10.jpg", 600px);
    padding-bottom: 112px;

    &__input {
        border: 2px solid $primary;
        flex-grow: 1;

        @include lg {
            flex-grow: 0;
            width: 219px;
        }
    }
}