.login {
    padding-top: 40px;
    padding-bottom: 106px;

    @include media-breakpoint-up(md) {
        padding-top: 80px;
        padding-bottom: 82px;
    }

    &__img {
        @include img-cover(220px);

        @include media-breakpoint-up(md) {
            height: 450px;
        }

        @include media-breakpoint-up(lg) {
            height: 600px;
        }

        @include media-breakpoint-up(xl) {
            height: 730px;
        }
    }
}