.productsItem {
    padding-top: 40px;
    padding-bottom: 40px;

    @include media-breakpoint-up(lg) {
        padding-top: 80px;
        padding-bottom: 60px;
    }

    &__img {
        @include img-cover(220px);
        width: 100%;

        @include media-breakpoint-up(md) {
            height: 460px;
        }
    }

    &__description {
        @include media-breakpoint-up(md) {
            position: absolute;
            right: 0;
        }
    }

    &__description__favorite {
        margin-bottom: 40px;
        color: black;

        &:hover {
            color: $primary;
        }

        @include media-breakpoint-up(lg) {
            margin-bottom: 80px;
        }
    }
}