/* border */
.border-bold-white {
    @include border-bold(white, $primary-light, rgba(255, 255, 255, 0.452));
}
.border-bold-black {
    @include border-bold(black, white, black);
}

/* cursor */
.cursor-pointer {
    cursor: pointer;
}



// $theme-colors
@mixin theme-colors($grid-breakpoints: null) {

    @each $key,
    $value in $theme-colors {

        .text#{$grid-breakpoints}-#{$key} {
            color: $value !important;
        }

        .bg#{$grid-breakpoints}-#{$key} {
            background: $value !important;
        }
    }
}

// $h1-h6
@mixin h1-h6($grid-breakpoints: null) {

    @each $key,
    $value in $h1-h6 {

        .#{$key}#{$grid-breakpoints} {
            font-size: $value !important;
        }
    }
}

// $font-sizes
$font-sizes: (base: $font-size-base,
    lg: $font-size-lg,
    sm: $font-size-sm);

@mixin font-sizes($grid-breakpoints: null) {

    @each $key,
    $value in $font-sizes {
        @if ($grid-breakpoints==null) {
            .font-size-#{$key} {
                font-size: $value !important;
            }
        }

        @else {
            .font-size#{$grid-breakpoints}-#{$key} {
                font-size: $value !important;
            }
        }
    }
}

// $width
@mixin width($grid-breakpoints: null) {

    @each $key,
    $value in $sizes {
        .w#{$grid-breakpoints}-#{$key} {
            width: $value !important;
        }
    }
}


// 加上斷點
@include font-sizes();

@include md {
    @include theme-colors(-md);
    @include h1-h6(-md);
    @include font-sizes(-md);
    @include width(-md);
}

@include lg {
    @include theme-colors(-lg);
    @include h1-h6(-lg);
    @include font-sizes(-lg);
    @include width(-lg);
}